@model Rompecabezas.Logica.Models.Sala
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<form method="post" asp-action="Crear" asp-controller="Sala">
    <label asp-for="@Model.NickName">Nombre Usuario</label>
    <input asp-for="@Model.NickName" />
    <span asp-validation-for="@Model.NickName"></span>

    <label asp-for="@Model.CantPieces">Cantidad Piezas</label>
    <select asp-for="@Model.CantPieces">
        <option value="" selected>Seleccionar cantidad</option>
        <option value="9">9</option>
        <option value="16">16</option>
        <option value="25">25</option>
    </select>
    <span asp-validation-for="@Model.CantPieces"></span>

    <label asp-for="@Model.Pin">Pin</label>
    <input asp-for="@Model.Pin"/>
    <span asp-validation-for="@Model.Pin"></span>
    <input type="submit" value="Crear" />

    <div class="@ViewBag.Classes"><span>@ViewBag.Message</span></div>
</form>