@model Rompecabezas.Logica.Models.Sala
<script>
    var cantPiezas = @Model.CantPieces;
    var nombreUsuario = '@ViewBag.NuevoPartipante';
    var nroSala = @Model.NroSala;
</script>
<link rel="stylesheet" type="text/css" href="~/css/sala.css">
<div class="text-center">
    <b>Nro. Sala: @Model.NroSala</b>
</div>
<div class="container-puzzle">
    <div id="puzzle"></div>
    <div id="piezas"></div>
</div>
<table id="tablaPuntaje">
    <thead>
        <tr>
            <th>Jugador</th>
            <th>Puntaje</th>
        </tr>
    </thead>
    <tbody id="bodyTabla">
    </tbody>
</table>
<div id="miPopup">
    <button onclick="cerrarPopup()">Cerrar</button>
</div>
<div class="card text-center" id="cartelBienvenida">
    <div class="card-header">
        Rompecabezas
    </div>
    <div class="card-body">
        <h5 class="card-title">El juego comenzara pronto</h5>
        <p class="card-text">Esperando participantes</p>
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
<h1 id="mensaje">¡Ganaste!</h1>


@*<div class="container row col-lg-auto" id="nuevoIngreso">
    
</div>*@
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sala.js"></script>
@*<script src="~/js/salaHub.js"></script>*@

@*<script>
    //crear conexion
    const salaHubConnection = new signalR.HubConnectionBuilder()
        .withUrl("/salaHub")
        .build();

    //iniciar la conexion
    salaHubConnection.start().then(function () {
        unirseASala("@Model.NroSala", "@ViewBag.NuevoPartipante");
        console.log("Conexion exitosa!");
    }).catch(function (error) {
        console.error(error.toString());
    });

    function unirseASala(nroSala, usuario) {
        salaHubConnection.invoke("UnirseASala", nroSala, usuario).catch(function (err) {
            return console.error(err.toString());
        });
    }
    salaHubConnection.on("RecibirMensaje", function (usuario, mensaje) {
        var message = "<div><b>" + mensaje + "</b></div>";
        document.getElementById("nuevoIngreso").innerHTML = message + document.getElementById("nuevoIngreso").innerHTML;
    });
</script>*@