@model Rompecabezas.Logica.Models.Sala
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Rompecabezas</h2>

<div class="form-conteiner">
    <div class="form">
<form method="post" asp-action="Ingresar" asp-controller="Sala">
    <div class="form-group" id="nombre">
        <label asp-for="@Model.NickName">Nombre</label>
        <input asp-for="@Model.NickName" />
        <span asp-validation-for="@Model.NickName"></span>
     </div>
    <div class="form-group" id="sala">
        <label>Sala N° </label>
        <input type="text" required name="nroSala" />
    </div>
    <div class="form-group" id="pin">
        <label asp-for="@Model.Pin">Pin</label>
        <input asp-for="@Model.Pin" />
        <span asp-validation-for="@Model.Pin"></span>
    </div>
        <span>@ViewBag.ErrorPin</span>
    <div class="boton">
        <input type="submit" value="Ingresar" />
    </div>
</form>
     <div class="crear-sala">
        <a asp-controller="Sala" asp-action="Crear">Crear Sala</a>
     </div>
    </div>
</div>

