@model Rompecabezas.Logica.Models.Sala
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<form method="post" asp-action="Ingresar" asp-controller="Sala" class="row">
    
    <div class="form-group">
        <label asp-for="@Model.NickName">Nombre Usuario</label>
        <input asp-for="@Model.NickName" class="form-control"/>
        <span asp-validation-for="@Model.NickName"></span>
    </div>
    
    <div class="form-group">
        <label>Numero de sala</label>
        <input type="text" required name="nroSala" id="NroSala" class="form-control"/>
    </div>
    
    <div class="form-group">
        <label asp-for="@Model.Pin">Pin</label>
        <input asp-for="@Model.Pin" class="form-control"/>
        <span asp-validation-for="@Model.Pin"></span>
        <span>@ViewBag.ErrorPin</span>
    </div>
    <div class="form-group row mt-4">
        <div class="col-lg-12">
            <input type="submit" value="Ingresar" id="ingresar" class="btn btn-primary col-md-2 float-start" />
            <a asp-controller="Sala" asp-action="Crear" class="btn btn-secondary col-md-2 float-end">Ir a crear una sala</a>
        </div>
        
    </div>
    
</form>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/salaHub.js"></script>