@model Rompecabezas.Logica.Models.Sala
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<form method="post" asp-action="Ingresar" asp-controller="Sala">
    <label asp-for="@Model.NickName">Nombre Usuario</label>
    <input asp-for="@Model.NickName" />
    <span asp-validation-for="@Model.NickName"></span>

    <label>Numero de sala</label>
    <input type="text" required name="nroSala" />

    <label asp-for="@Model.Pin">Pin</label>
    <input asp-for="@Model.Pin" />
    <span asp-validation-for="@Model.Pin"></span>
    <span>@ViewBag.ErrorPin</span>

    <input type="submit" value="Ingresar" />
</form>
<a asp-controller="Sala" asp-action="Crear">Crear Sala</a>